DATABASE_URL=postgresql://[USER]:[PASSWORD]@[HOST]:[PORT]/[DATABASE_NAME]
#OPENAI_API_KEY=your_openai_api_key
GOOGLE_API_KEY=your_google_api_key   # used by research agent, free tier works
TAVILY_API_KEY=your_tavily_api_key   # free tier works — used by research agent
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=your_langsmith_api_key #for dev-personal token used, have to create serivce token when deployed
LANGSMITH_PROJECT="My-Multi-Agent-Project"